USE [master]
GO
/****** Object:  Database [BROKER]    Script Date: 20/03/2018 20:29:52 ******/
CREATE DATABASE [BROKER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BROKER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BROKER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BROKER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BROKER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BROKER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BROKER]
GO
USE [BROKER]
GO
/****** Object:  Table [dbo].[PK_POST]    Script Date: 20/03/2018 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PK_POST](
	[KODEH2H] [varchar](max) NOT NULL,
	[USERNAME] [varchar](max) NOT NULL,
	[PASSWORD] [varchar](max) NOT NULL,
	[CAB] [varchar](max) NULL,
	[PK] [varchar](30) NOT NULL,
	[NOREK] [varchar](max) NULL,
	[NAMA] [varchar](max) NULL,
	[LAHIR] [varchar](max) NULL,
	[BUKA] [varchar](max) NULL,
	[TEMPO] [varchar](max) NULL,
	[PLAN] [varchar](max) NULL,
	[AMOUNT] [numeric](18, 3) NULL,
	[ID_NO] [varchar](max) NULL,
	[KTP] [varchar](max) NULL,
	[RATE] [numeric](3, 3) NULL,
	[SEX] [varchar](1) NULL,
	[RATE_ASURANSI] [numeric](6, 3) NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_POST_PK] PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[last_data]    Script Date: 20/03/2018 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[last_data] as SELECT TOP 1 * FROM PK_POST ORDER BY NO DESC
GO
/****** Object:  Table [dbo].[AUTH_API]    Script Date: 20/03/2018 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTH_API](
	[KODEH2H] [varchar](250) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[LAST_ACCESS] [datetime] NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_AUTH_API] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTH_SERVER]    Script Date: 20/03/2018 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTH_SERVER](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[LAST_ACCESS] [datetime] NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_AUTH_SERVER] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEK_KOMUNIKASI]    Script Date: 20/03/2018 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEK_KOMUNIKASI](
	[KODEH2H] [varchar](max) NOT NULL,
	[USERNAME] [varchar](max) NOT NULL,
	[PASSWORD] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
